<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- The old app/web config files are always strings, so there's not much difference between some test cases -->
    <add key="FeatureManagement:RegisteredAndNullInAppConfig" value="" />
    <add key="FeatureManagement:RegisteredAndTrueInAppConfig" value="true" />
    <add key="FeatureManagement:RegisteredAndStringTrueInAppConfig" value="true" />
    <add key="FeatureManagement:RegisteredAndFalseInAppConfig" value="false" />
    <add key="FeatureManagement:RegisteredAndStringFalseInAppConfig" value="false" />
    <add key="FeatureManagement:RegisteredAndGarbageValueInAppConfig" value="garbage-not-a-boolean-value" />
  </appSettings>
</configuration>
