# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Default settings:
[*]
charset = utf-8
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.cs]
indent_size = 4

# MSBuild files
[*.csproj]
indent_size = 2

# JSON files
[*.json]
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_size = 2

# XML config files
[*.{msbuild,props,targets,ruleset,config,nuspec}]
indent_size = 2
