<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- The old app/web config files are always strings, so there's not much difference between some test cases -->
    <add key="MirrorUniverse:TrueInAppConfig" value="false" />
    <add key="MirrorUniverse:StringTrueInAppConfig" value="false" />
    <add key="MirrorUniverse:FalseInAppConfig" value="true" />
    <add key="MirrorUniverse:StringFalseInAppConfig" value="true" />
    <add key="FeatureManagement:NullInAppConfig" value="" />
    <add key="FeatureManagement:TrueInAppConfig" value="true" />
    <add key="FeatureManagement:StringTrueInAppConfig" value="true" />
    <add key="FeatureManagement:FalseInAppConfig" value="false" />
    <add key="FeatureManagement:StringFalseInAppConfig" value="false" />
    <add key="FeatureManagement:GarbageValueInAppConfig" value="garbage-not-a-boolean-value" />
  </appSettings>
</configuration>
